#######################################
# dir
#######################################
build

#######################################
# exec
#######################################
libmy.a
treeforce
my_test
my_test_tree

#######################################
# file extentions
#######################################
*.o
*.gcno
*.gcda
*.a

#######################################
# test
#######################################
my_treeforces.txt
justin_treeforces.txt
